<!DOCTYPE html>
<html>
    <head>
        <title>This just a fucking test</title>
        <style>
            h3 {
                color: purple;
            }
        </style>
    </head>
    <body>
        <h1>WC TRAINING SITE FROM ROLI</h1>
        <h3>FTS</h3>
        <user-card name="Roland Schenk" avatar="https://randomuser.me/api/portraits/men/1.jpg"></user-card>
        <user-card name="Nadine Schenk" avatar="https://randomuser.me/api/portraits/men/2.jpg"></user-card>
    </body>
    <script src="../organisms/userCard.js"></script>
</html>