<!DOCTYPE html>
<html>
    <head>
        <title>This just a fucking test</title>
        <style>
            h3 {
                color: purple;
            }
        </style>


<script src="../organisms/userCard.js"></script>
<script  src="../organisms/body.js"></script>
    </head>
    <body>
        <h1>WC TRAINING SITE FROM ROLI</h1>
        <h3>FTS</h3>
        <user-card name="Roland Schenk" avatar="https://randomuser.me/api/portraits/men/1.jpg">
            <div slot="email">roland.schenk@test.ch</div>
            <div slot="phone">55555-555-5555</div>
        </user-card>
        <user-card name="Nadine Schenk" avatar="https://randomuser.me/api/portraits/men/2.jpg"></user-card>
    </body>

    <script>
        [
            ['user-card', UserCard],
            ['o-body', Body]
        ].forEach(element => {
            if (element && !customElements.get(element[0])){
                customElements.define(...element)
            } else {

            }
        })
    </script>
</html>